<div class="container" [ngClass]="{ 'active': isSignUpActive }">
  <!-- Formulaire Sign In -->
  <div class="form-container sign-in">
      <form (ngSubmit)="onSignIn()">
          <h1>Sign In</h1>
          <div class="social-icons">
              <!-- Icônes sociales -->
              <fa-icon [icon]="['fab', 'google']"></fa-icon>
              <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
              <fa-icon [icon]="['fab', 'github']"></fa-icon>
              <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
          </div>
          <span>or use your email password</span>
          <input type="email" placeholder="Email" [(ngModel)]="email" name="email">
          <input type="password" placeholder="Password" [(ngModel)]="password" name="password">
          <a href="#">Forget Your Password?</a>
          <button type="submit">Sign In</button>
      </form>
  </div>

  <!-- Formulaire Sign Up -->
  <div class="form-container sign-up">
      <form (ngSubmit)="onSignUp()">
          <h1>Create Account</h1>
          <div class="social-icons">
              <!-- Icônes sociales -->
              <fa-icon [icon]="['fab', 'google']"></fa-icon>
              <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
              <fa-icon [icon]="['fab', 'github']"></fa-icon>
              <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
          </div>
          <span>or use your email for registration</span>
          <input type="text" placeholder="Name" [(ngModel)]="name" name="name">
          <input type="email" placeholder="Email" [(ngModel)]="email" name="email">
          <input type="password" placeholder="Password" [(ngModel)]="password" name="password">
          <button type="submit">Sign Up</button>
      </form>
  </div>

  <!-- Panneau de bascule -->
  <div class="toggle-container">
      <div class="toggle">
          <!-- Panneau Sign In -->
          <div class="toggle-panel toggle-left">
              <h1>Welcome Back!</h1>
              <p>Enter your personal details to use all of site features</p>
              <button class="hidden" (click)="toggleForm(false)">Sign In</button>
          </div>

          <!-- Panneau Sign Up -->
          <div class="toggle-panel toggle-right">
              <h1>Hello, Friend!</h1>
              <p>Register with your personal details to use all of site features</p>
              <button class="hidden" (click)="toggleForm(true)">Sign Up</button>
          </div>
      </div>
  </div>
</div>