<footer>
    <div class="footer-widgets">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xl-3">
            <div class="single-widget contact-widget" data-aos="fade-up" data-aos-delay="0">
              <h6 class="widget-tiltle">Contactez-nous</h6>
              <p>En vous inscrivant à notre newsletter, vous serez toujours informé des dernières nouvelles et événements de la ville de Sfax.</p>
              <div class="media">
                <i class="fa fa-map-marker"></i>
                <div class="media-body ml-3">
                  <h6>Adresse</h6>
                  Sfax, Tunisie
                </div>
              </div>
              <div class="media">
                <i class="fa fa-envelope-o"></i>
                <div class="media-body ml-3">
                  <h6>Des questions ?</h6>
                  <a href="mailto:ville_sfax&#64;gmail.com">ville_sfax&#64;gmail.com</a>
                </div>
              </div>
              <div class="media">
                <i class="fa fa-phone"></i>
                <div class="media-body ml-3">
                  <h6>Appelez-nous</h6>
                  <a href="tel:+21612345678">+216 55705959</a>
                </div>
              </div>
              <div class="media">
                <i class="fa fa-fax"></i>
                <div class="media-body ml-3">
                  <h6>Fax</h6>
                  <a href="fax:+21612345679">+216 55705959</a>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-6 col-xl-3">
            <div class="single-widget twitter-widget" data-aos="fade-up" data-aos-delay="200">
              <h6 class="widget-tiltle">Actualités de Sfax</h6>
              <div class="media">
                <i class="fa fa-twitter"></i>
                <div class="media-body ml-3">
                    <h6><a href="#">&#64;SfaxTourism,</a> Découvrez la médina classée de Sfax !</h6>
                  <span>Il y a 10 minutes</span>
                </div>
              </div>
              <div class="media">
                <i class="fa fa-twitter"></i>
                <div class="media-body ml-3">
                    <h6><a href="#">&#64;SfaxCity,</a> Un événement culturel à ne pas manquer cette semaine à Sfax.</h6>
                  <span>Il y a 20 minutes</span>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-6 col-xl-3">
            <div class="single-widget recent-post-widget" data-aos="fade-up" data-aos-delay="400">
              <h6 class="widget-tiltle">Dernières mises à jour</h6>
              <div class="media">
                <a class="rcnt-img" href="#"><img src="assets/images/Medina.png" alt="Recent Post"></a>
                <div class="media-body ml-3">
                  <h6><a href="#">Sfax, une ville entre tradition et modernité</a></h6>
                  <p><i class="fa fa-user"></i> Manar <i class="fa fa-eye"></i> 202 vues</p>
                </div>
              </div>
              <div class="media">
                <a class="rcnt-img" href="#"><img src="assets/images/kerkna.jpg" alt="Recent Post"></a>
                <div class="media-body ml-3">
                  <h6><a href="#">Les îles Kerkennah : un havre de paix</a></h6>
                  <p><i class="fa fa-user"></i> Nabil <i class="fa fa-eye"></i> 150 vues</p>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-6 col-xl-3">
            <div class="single-widget tags-widget" data-aos="fade-up" data-aos-delay="800">
              <h6 class="widget-tiltle">Tags populaires</h6>
              <a href="#">Médina</a>
              <a href="#">Kerkennah</a>
              <a href="#">Histoire</a>
              <a href="#">Plages</a>
              <a href="#">Culture</a>
              <a href="#">Tourisme</a>
            </div>
            <div class="single-widget subscribe-widget" data-aos="fade-up" data-aos-delay="800">
              <h6 class="widget-tiltle">Abonnez-vous</h6>
              <p>Inscrivez-vous à notre newsletter pour recevoir les dernières mises à jour et offres de Sfax.</p>
              <form class="" method="get">
                <div class="input-group">
                  <input class="field form-control" name="subscribe" type="email" placeholder="Adresse email">
                  <span class="input-group-btn">
                    <button type="submit" name="submit-mail"><i class="fa fa-check"></i></button>
                  </span>
                </div>
              </form>
              <p>Nous respectons votre vie privée</p>
              <ul class="nav social-nav">
                <li><a href="https://www.facebook.com/SfaxCity" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <footer>
    <!-- Foot Note Section Start -->
    <div class="foot-note">
        <div class="container">
            <div class="footer-content text-center text-lg-left d-lg-flex justify-content-between align-items-center">
                <!-- Copyright Text -->
                <p class="mb-0" data-aos="fade-right" data-aos-offset="0">
                    &copy; 2025 All Rights Reserved. Project by 
                    <a href="https://www.mtd-group.biz" target="_blank" class="fh5-link">MTD Group</a>.
                </p>

                <!-- Links for Terms and Privacy -->
                <p class="mb-0" data-aos="fade-left" data-aos-offset="0">
                    <a href="#">Terms Of Use</a>
                    <a href="#">Privacy & Security Statement</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Foot Note Section End -->
</footer>

  