<header class="position-absolute w-100">
    <div class="container">
      <div class="top-header d-none d-sm-flex justify-content-between align-items-center">
        <div class="contact">
          <a href="tel:+1234567890" class="tel"><i class="fa fa-phone" aria-hidden="true"></i>+21655705959</a>
          <a href="mailto:ville_sfax&#64;gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>ville_sfax&#64;gmail.com</a>

        </div>
        <nav class="d-flex aic">
          <a routerLink="/sign-in" class="login"><i class="fa fa-user" aria-hidden="true"></i>Login</a>
        </nav>
      </div>
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="index.html"><img src="assets/images/logo_sfax.png" alt="Multipurpose" width="700" height="200" class="logo"></a>
        <div class="group d-flex align-items-center">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                  class="navbar-toggler-icon"></span></button>
          <a class="login-icon d-sm-none" href="#"><i class="fa fa-user"></i></a>
        </div>
        <a class="search-icon d-none d-md-block" href="#"><i class="fa fa-search"></i></a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Actualites</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Etablissements</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Evenements</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Promotions</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Experience</a></li>
          </ul>
          <form class="bg-white search-form" method="get" id="searchform">
            <div class="input-group">
              <input class="field form-control" id="s" name="s" type="text" placeholder="Search">
              <span class="input-group-btn">
                <input class="submit btn btn-primary" id="searchsubmit" name="submit" type="submit" value="Search">
              </span>
            </div>
          </form>
        </div>
      </nav>
    </div>
  </header>
  