<div class="form-container sign-up">
    <form (ngSubmit)="onSubmit()">
        <h1>Create Account</h1>
        <div class="social-icons">
            <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <span>or use your email for registeration</span>
        <input type="text" placeholder="Name" [(ngModel)]="name" name="name">
        <input type="email" placeholder="Email" [(ngModel)]="email" name="email">
        <input type="password" placeholder="Password" [(ngModel)]="password" name="password">
        <button type="submit">Sign Up</button>
    </form>
</div>